<mat-drawer-container class="example-container" autosize>

  <!-- SIDEBAR -->
  <mat-drawer mode="over" #drawer class="example-sidenav" mode="side">
    <ul>
      <li>
        <a href="">Alumnos</a>
      </li>
    </ul>
  </mat-drawer>
  <!-- FIN SIDEBAR -->

  <!-- CONTENT WRAPPER-->
  <div class="example-sidenav-content">
    <!-- TOOLBAR -->
    <mat-toolbar color="primary">
      <button
        (click)="drawer.toggle()"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <p appFontSize="20">Mi Aplicacion</p>
    </mat-toolbar>
    <!-- FIN TOOLBAR -->

    <main class="p-3">
      <app-students></app-students>
    </main>
  </div>
</mat-drawer-container>
